# Node.js dependencies
/node_modules
/server/node_modules
/client/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
client/node_modules/
server/node_modules/

# Build directories
/dist
build/
client/build/

# Cache and coverage directories
/client/.cache
/server/.cache
/server/coverage
/client/coverage

# Environment settings
.env
.env.local
.env.*.local

# Temporary files
*.tmp
*.swp

# Editor and IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# MacOS system files
.DS_Store

# ESLint cache
.eslintcache

# Lockfiles
package-lock.json
yarn.lock

# Ignore compiled TypeScript output if using TypeScript
/*.tsbuildinfo
/client/tsconfig.tsbuildinfo
/server/tsconfig.tsbuildinfo

# Ignore build artifacts
/server/dist/
client/dist/
server/dist/
client/.next/
server/.next/

# Ignore any additional coverage or testing reports
/coverage
/junit.xml
